{{ define "main" }}
<div class="container">

<div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >

      <div class="post__content">

{{ range $index, $elemen:= .Site.Data.publications.papers }}
{{ $Y := .year }}
<h3> {{ $Y }} </h3>
<ol class="list-unstyled">

{{ $seed := "foo" }}

{{ range .publications }}
{{ $a := .authors }}
{{ $a := replace $a "M. Trapp" "<u>M. Trapp</u>" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
<li>
<div class="row">

  <div class="col-sm-2" >
    {{ if isset . "special" }}<span class="badge badge-success">{{.special }}</span> {{end}}
    {{ if isset . "workshop" }}<span class="badge badge-secondary">{{.workshop }}</span> {{end}}
    {{ if isset . "conference" }}
      <span class="badge badge-primary">{{.conference }}</span>
    {{end}}
  </div>

  <div class="col-sm-10">
  <span class="author">{{ $a | markdownify }}</span>.
  <span><a href={{ .pdf }} >{{ .title | markdownify }}</a></span>{{ if isset . "venue" }}, <i>{{ .venue | markdownify  }}</i>, {{ $Y }}{{ end }}. {{ if isset . "note" }}<i>{{ .note | markdownify }}</i>{{ end }}
  {{ if isset . "github" }}
    <a href={{ .github }}><i class="fab fa-github"></i></a>
  {{ end }}
</div>
</div>
</li>
<br/>
{{ end }}
</ol>
{{ end }}
</div>
</div>

</div>

{{ end }}
